.current {
    color:rgb(201, 59, 137);
}
.last_name{
    color:rgb(162, 214, 235);
}
h2{
    color:red
}
li a{
    color:red;
    font-size: 20px;
}
li {
    background: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    
}
ul li {
    background: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;}

